<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    <title>PillMate</title>
    <link crossorigin="" href="https://fonts.gstatic.com/" rel="preconnect" />
    <link
      as="style"
      href="https://fonts.googleapis.com/css2?display=swap&amp;family=Noto+Sans%3Awght%40400%3B500%3B700%3B900&amp;family=Space+Grotesk%3Awght%40400%3B500%3B700"
      onload="this.rel='stylesheet'"
      rel="stylesheet"
    />
    <link href="data:image/x-icon;base64," rel="icon" type="image/x-icon" />
    <script src="https://cdn.tailwindcss.com?plugins=forms,container-queries"></script>
    <script>
      tailwind.config = {
        darkMode: "class",
        theme: {
          extend: {
            colors: {
              primary: "#13a4ec",
              "background-light": "#f6f7f8",
              "background-dark": "#101c22",
            },
            fontFamily: {
              display: ["Space Grotesk"],
            },
            borderRadius: {
              DEFAULT: "0.25rem",
              lg: "0.5rem",
              xl: "0.75rem",
              full: "9999px",
            },
          },
        },
      };
    </script>
  </head>
  <body class="bg-background-light dark:bg-background-dark font-display">
    <div class="relative flex flex-col min-h-screen w-full overflow-x-hidden">
      <div class="flex-grow h-full">
        <header
          class="sticky top-0 z-10 bg-background-light/80 dark:bg-background-dark/80 backdrop-blur-sm border-b border-primary/20 dark:border-primary/30"
        >
          <div class="container mx-auto px-4 sm:px-6 lg:px-8">
            <div class="flex items-center justify-between h-16">
              <div
                class="flex items-center gap-4 text-gray-800 dark:text-gray-200"
              >
                <div class="h-8 w-8 text-primary">
                  <svg
                    fill="none"
                    viewBox="0 0 48 48"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      d="M36.7273 44C33.9891 44 31.6043 39.8386 30.3636 33.69C29.123 39.8386 26.7382 44 24 44C21.2618 44 18.877 39.8386 17.6364 33.69C16.3957 39.8386 14.0109 44 11.2727 44C7.25611 44 4 35.0457 4 24C4 12.9543 7.25611 4 11.2727 4C14.0109 4 16.3957 8.16144 17.6364 14.31C18.877 8.16144 21.2618 4 24 4C26.7382 4 29.123 8.16144 30.3636 14.31C31.6043 8.16144 33.9891 4 36.7273 4C40.7439 4 44 12.9543 44 24C44 35.0457 40.7439 44 36.7273 44Z"
                      fill="currentColor"
                    ></path>
                  </svg>
                </div>
                <h2 class="text-xl font-bold">PillMate</h2>
              </div>
              <nav class="hidden md:flex items-center space-x-8">
                <a
                  class="text-sm font-medium text-gray-600 dark:text-gray-300 hover:text-primary dark:hover:text-primary transition-colors"
                  href="index.html"
                  >About</a
                >
                <a
                  class="text-sm font-medium text-gray-600 dark:text-gray-300 hover:text-primary dark:hover:text-primary transition-colors"
                  href="SourceCode.html"
                  >Source Code</a
                >
                <a
                  class="text-sm font-medium text-gray-600 dark:text-gray-300 hover:text-primary dark:hover:text-primary transition-colors"
                  href="video.html"
                  >Video Demo</a
                >
                <a
                  class="text-sm font-medium text-gray-600 dark:text-gray-300 hover:text-primary dark:hover:text-primary transition-colors"
                  href="member.html"
                  >Member</a
                >
                <a
                  class="text-sm font-medium text-gray-600 dark:text-gray-300 hover:text-primary dark:hover:text-primary transition-colors"
                  href="schedule.html"
                  >Schedule</a
                >
                <a
                  class="text-sm font-medium text-gray-600 dark:text-gray-300 hover:text-primary dark:hover:text-primary transition-colors"
                  href="takepill.html"
                  >Take Pill</a
                >
              </nav>
              <div class="flex items-center">
                <button class="md:hidden p-2 text-gray-800 dark:text-gray-200">
                  <svg
                    fill="currentColor"
                    height="24"
                    viewBox="0 0 256 256"
                    width="24"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      d="M224,128a8,8,0,0,1-8,8H40a8,8,0,0,1,0-16H216A8,8,0,0,1,224,128ZM40,88H216a8,8,0,0,0,0-16H40a8,8,0,0,0,0,16ZM216,184H40a8,8,0,0,0,0,16H216a8,8,0,0,0,0-16Z"
                    ></path>
                  </svg>
                </button>
              </div>
            </div>
          </div>
        </header>
        <div class="flex justify-center items-center h-full w-full">

            <div class=" flex justify-center items-center h-full w-full">
          <div class="grid grid-cols-2 w-full h-full text-left">
            <div
              class="w-full h-full flex flex-col justify-center items-start text-left pl-10">
              <p for="" class="text-4xl font-bold text-blue-600 text-left pb-2">Video Demo</label> <br />
              <p class="text-lg mb-8">คลิปวิดีโอสาธิตการทำงานของ Arduino Project เครื่องจ่ายยาอัตโนมัติ</p>
            </div>
            <div class="w-full h-full">
              <img src="../static/ExampleCode.png" alt="" />
            </div>
          </div>
        </div>





        </div>
      </div>
    </div>
  </body>
</html>
